body.devise {
  h1 img { width: 150px; }
  .card-primary {
    background-color: #dc3635;
    border-color: #dc3635;
  }
  .btn-primary {
    background-color: #e51615;
    border-color: #e51615;
    &:hover {
      background-color: #cc1817;
      border-color: #cc1817;
    }
  }
  .btn-link {
    color: #e51615;
    &:hover {color: #cc1817;}
  }
  .btn-primary.active, .btn-primary:active, .open>.btn-primary.dropdown-toggle {
    background-color: #901010;
    border-color: #901010;
    &:hover {
      background-color: #821111;
      border-color: #821111;
    }
  }
  .devise-other-options {
    text-align: center;
    margin-top: 20px;
    color: #aaa;
    a {
      color: #999;
      &:hover {color: #333;}
    }
  }
  #error_explanation {
    h2 {font-size: 1em;}
    ul {margin-bottom: 0;}
  }
}
